

/*
 * IDS
 */
 
 #header {
  background-color: #282a36;
  text-align: center;
 }

/* PAGE SECTIONS */
 #home {
  background-color: #282a36;
  text-align: center;
  padding-top: 30%;
  height: 100vh;
  min-height: 600px;
  font-size: 48px;
 }

 #about {
  background-color: #282a36;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  min-height: 500px;
  padding-top: 50px;
 }

 #skills {
   background-color: white;
    height: 100vh;
    min-height: 500px;
    padding-top: 50px;
    font-size: 32px;
 }

 #portfolio {
    background-color: white;
    height: 100vh;
    min-height: 500px;
    padding-top: 50px; 
 }

 #hola {
   color: #ff5555; 
   font-size: 48px;
   /* TOOL TIP STYLING */
   position: relative;
   display: inline-block;
   border-bottom: 1px dotted #ff5555;
   padding-left: 10px;
   padding-right: 10px;
 }

/* TOOL TIP FOR HOME PAGE OLA */
#hola .tooltiphola {
  visibility: hidden;
  width: 300px;
  background-color: whitesmoke;
  color: #282a36;
  text-align: left;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

#hola:hover .tooltiphola {
  visibility: visible;
}

 #mundo {
   color: #50fa7b; 
   font-size: 48px;
   /* TOOL TIP STYLING */
   position: relative;
   display: inline-block;
   border-bottom: 1px dotted #50fa7b; 
;
 }

/* TOOL TIP FOR HOME PAGE OLA */
#mundo .tooltipmundo {
  visibility: hidden;
  width: 300px;
  background-color: whitesmoke;
  color: #282a36;
  text-align: left;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

#mundo:hover .tooltipmundo {
  visibility: visible;
}

/*
 * CLASS
 */

 .aside-one {
  color: whitesmoke;
  writing-mode: vertical-rl;
  text-orientation: upright;  
  padding-left: 15px;
 }

 .aside-one p {
  margin: -2px;
 }

 .icons {
   font-size: 60px;
 }
 .social-icons {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 28px;
  justify-content: flex-end;
  padding-right: 15px;
 }

 .social-icon {
  text-decoration: none;
 }
.main-about {
  color: whitesmoke;
  margin: auto 0;
  font-size: 48px;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

 .html5 a:hover {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}
/* fix justify content  */
.home-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.pointer {
  text-align: right;
  font-size: 24px;
  padding-right: 30px;
  padding-bottom: 50px;
}

/*
 * ELEMENTS
 */

 body {
   /* background-color: #282a36; */
 }
 

 .html5 {
   color: #ff5555; 
   font-size: 48px;
   /* TOOL TIP STYLING */
   position: relative;
   display: inline-block;
   border-bottom: 1px dotted #ff5555;
   padding-left: 10px;
   padding-right: 10px;
 }

/* TOOL TIP FOR HOME PAGE OLA */
.html5 .tooltiphtml5 {
  visibility: hidden;
  width: 300px;
  background-color: whitesmoke;
  color: #282a36;
  text-align: left;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.html5:hover .tooltiphtml5 {
  visibility: visible;
}
